.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.web {
  .icon-load {
    top: -50%;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  @include transition();

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
  margin: 0 0 78px;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  margin: 0 0 55px;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
}

%gradient-bg {
  background: #0f2165;
  background: -moz-radial-gradient(center, ellipse cover, #0f2165 1%, #00032e 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #0f2165 1%,#00032e 100%);
  background: radial-gradient(ellipse at center, #0f2165 1%,#00032e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2165', endColorstr='#00032e',GradientType=1 );
}

.btn {
  border: none;
  border-radius: 30px;
  box-shadow: none;
  padding: 12px 34px;
  outline: none !important;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include transition();
  &-primary {
    background: $main-second-color !important;
    &:hover {
      box-shadow: 0 40px 60px rgba(250, 154, 100, 0.25);
    }
    &:focus {
      box-shadow: none;
    }
  }

  &-lg {
    padding: 18px 59px;
  }
  &-sm {

  }
}

.card {
  background: #ffffff;
  border: 1px solid rgba(0, 19, 149, 0.06);
  box-shadow: 0 5px 10px rgba(0, 20, 149, 0.15);
  border-radius: 10px;
  overflow: hidden;
  @include transition();
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 20, 149, 0.3);
    transform: translateY(-10px);
  }

  &-img-top {

  }
  &-body {
    padding: 23px 15px 32px;
    background: #ffffff;
    @include transition();
  }
  &-title {
    margin: 0 0 8px;
    color: $title-color;
    font-weight: bold;
    line-height: 25px;
  }
  &-text {
    margin: 0 0 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em;
    &.text-subtitle {
      color: rgba(0, 19, 149, 0.4);
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
  &-link {
    @include transition();
  }

  .rating-container {
    margin: 0 0 13px;
    text-align: center;
  }
  &.hidden-btn {
    max-height: 283px;
    &:hover {
      .card {
        &-body {
          transform: translateY(-40%);
        }
        &-link {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .card-link {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.rating-container {
  .star {
    svg {
      width: 15px;
      height: 15px;
    }
  }
}