.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.web {
  .icon-load {
    top: -50%;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  @include transition();

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
  margin: 0 0 78px;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.section-banner {
  color: #ffffff;
  @extend .gradient-bg;

  .title {
    margin: 0 0 16px;
    color: $main-second-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.banner {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;

  &__pic {
    img {
      position: absolute;
      top: 0;
      left: -10px;
      max-width: 30%;
    }
  }
  &__body {
    width: 70%;
    padding: 40px 0;
  }
  &__title {
    @extend .title;
  }
  &__text {
    color: #ffffff;
    a {
      color: $main-second-color;
    }
  }
  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 0 20px;
  }

  &_bonus {
    .banner {
      &__pic {
        img {
          top: auto;
          right: 0;
          bottom: 0;
          left: auto;
          max-width: none;
        }
      }
      &__body {
        width: 60%;

        .title {
          text-transform: none !important;
        }
      }
    }
  }
}

.text-block {
  p {
    margin: 0 0 10px;
  }
  ul {
    padding-left: 20px;
    list-style: disc;

    li::marker {
      color: $main-second-color;
    }
  }
}

.btn {
  border: none;
  border-radius: 30px;
  box-shadow: none;
  padding: 12px 34px;
  outline: none !important;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include transition();
  &-primary {
    background: $main-second-color !important;
    &:hover {
      box-shadow: 0 40px 60px rgba(250, 154, 100, 0.25);
    }
    &:focus {
      box-shadow: none;
    }
  }
  &-light {
    background: #ffffff !important;
    border: 1px solid rgba(0, 19, 149, 0.06) !important;
    box-shadow: 0 2px 5px rgba(0, 20, 149, 0.15);
    border-radius: 18px;
    color: $text-color;
    font-size: 16px;
    line-height: 30px;
    &:hover {
      box-shadow: 0 2px 5px rgba(0, 20, 149, 0.3);
    }
  }
  &-link {
    padding: 8px 12px;
  }

  &-outline {
    &-primary,
    &-secondary,
    &-success,
    &-danger,
    &-warning,
    &-info,
    &-light,
    &-dark {
      border: 1px solid;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      text-transform: none;
      &:hover {
        background: none !important;
        border-color: $main-second-color;
        color: $main-second-color;
      }
    }
  }

  &-lg {
    padding: 18px 59px;
  }
  &-sm {

  }
}

.card {
  justify-content: flex-end;
  max-height: 283px;
  background: #ffffff;
  border: 1px solid rgba(0, 19, 149, 0.06);
  box-shadow: 0 5px 10px rgba(0, 20, 149, 0.15);
  border-radius: 10px;
  overflow: hidden;
  @include transition();
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 20, 149, 0.3);
    transform: translateY(-10px);
  }

  img {
    width: 100%;
  }
  &-img-top {

  }
  &-body {
    flex: 0 0 auto;
    padding: 23px 15px 32px;
    background: #ffffff;
    @include transition();

    &-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: 0 0 8px;
      &:last-of-type {
        margin: 0;
      }

      & > * {
        margin: 0 !important;
      }
    }
  }
  &-title {
    margin: 0 0 8px;
    color: $title-color;
    font-weight: bold;
    line-height: 25px;
  }
  &-text {
    margin: 0 0 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em;
    &.text-subtitle {
      color: rgba(0, 19, 149, 0.4);
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
  &-link {
    @include transition();
  }

  .rating-container {
    margin: 0 0 13px;
    text-align: center;
  }
  &.hidden-btn {
    &:hover {
      .card {
        &-body {
          //transform: translateY(-20%);
        }
        &-link {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .card-link {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.rating-container {
  line-height: 0;
  .star {
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.rating-box {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  &__text {
    &:first-of-type {
      margin: 0 11px 0 0;
    }
    margin: 0 0 0 11px;
    color: #ffffff;
  }

  .rating-container {

  }
}

.accordion-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  &__box {
    width: 100%;
    margin: 0 0 10px;
    border: 1px solid rgba(0, 19, 149, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 19, 149, 0.1);
    padding: 12px 31px 14px;

    &-title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0;
      @include transition();
      cursor: pointer;
      &:after {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-top: -5px;
        margin-left: 14px;
        border: none;
        border-right: 1px solid $main-first-color;
        border-bottom: 1px solid $main-first-color;
        transform: rotate(45deg) rotate3d(0, 0, 0, 180deg);
        @include transition();
      }
    }
    &-text {
      margin: 0;
    }

    &.active {
      box-shadow: inset 0 4px 10px rgba(0, 19, 149, 0.1);
      .accordion-list {
        &__box {
          &-title {
            margin: 0 0 12px;
            color: $main-second-color;
            font-weight: 600;
            &:after {
              margin-top: 10px;
              border-color: $main-second-color;
              transform: rotate(45deg) rotate3d(-1, 1, 0, 180deg);
            }
          }
          &-text {
            display: block;
          }
        }
      }
    }
    &:hover {
      .accordion-list {
        &__box {
          &-title {
            color: $main-second-color;
            font-weight: 600;
            &:after {
              border-color: $main-second-color;
            }
          }
        }
      }
    }
  }
}

.breadcrumb {
  margin-bottom: 30px;
  padding: 0;
  background: none;

  &-item {
    font-size: 14px;
    line-height: 24px;
    a {
      color: #ffffff;
      text-decoration: underline;
    }

    &.active {
      color: #ffffff;
      text-decoration: none !important;
    }
  }
}

.title {
  margin: 0 0 55px;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;

  span {
    color: $main-second-color;
  }
}

.gradient-bg {
  background: #0f2165;
  background: -moz-radial-gradient(center, ellipse cover, #0f2165 1%, #00032e 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #0f2165 1%, #00032e 100%);
  background: radial-gradient(ellipse at center, #0f2165 1%, #00032e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f2165', endColorstr='#00032e', GradientType=1);
}

.table {
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 19, 149, 0.5);
    padding: 10px 0;
    &:first-of-type {
      padding: 0 0 12px;
    }

    th, td {
      flex: 1 1 15%;
      border: none;
      padding: 0;
      text-align: center;

      &:first-of-type {
        flex: 1 1 10%;
      }
    }
    th {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
    }
    td {
      &:first-of-type {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  &-pic {
    img {
      width: 100%;
      max-width: 131px;
      height: 72px;
      box-shadow: 0 0 10px rgba(0, 59, 107, 0.3);
    }
  }
  &-payment {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    &__pic {
      margin: 0 2px 8px;
      
      img {
        width: 45px;
        height: 26px;
      }
    }
  }
  &-link {
    font-size: 14px;
    text-decoration: underline;
  }

  .rating-container {
    .star svg {
      width: 27px;
      height: 27px;
    }
  }
}

.pagination {
  height: 32px;
  .page-item {
    &:first-child, &:last-child {
      .page-link {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:first-child {
      margin-right: 12px;
    }
    &:last-child {
      margin-left: 12px;
    }
    &:first-child, &:last-child, &.separate {
      .page-link {
        &:after {
          display: none !important;
        }
        &:hover {
          font-size: 22px !important;
          font-weight: 400 !important;
        }
      }
    }
    &:nth-last-child(2) {
      .page-link {
        &:after {
          display: none !important;
        }
      }
    }

    &.active .page-link {
      font-size: 25px;
      font-weight: 700;
    }
  }
  .page-link {
    background: none !important;
    border: none !important;
    padding: 0 4px;
    color: $main-first-color !important;
    font-size: 22px;
    font-weight: 400;
    &:after {
      content: ',';
      display: inline;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 0;
    }

    &:hover {
      font-size: 25px;
      font-weight: 700;
    }
  }
}

.search-tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  &__link {
    min-width: 88px;
    margin: 0 11px 24px 0;
    padding: 2px 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;

    &:hover {
      color: $main-second-color;
      transform: translateY(-2px);
    }
  }
}

.medium {
  font-weight: 500 !important;
}

.semibold {
  font-weight: 600 !important;
}

.flag-label {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 14px;
    border-width: 22px 13px 12px;
    border-style: solid;
    border-color: $main-second-color $main-second-color transparent;
  }
}

.form-control {
  height: 54px;
  border: 1px solid rgba(0, 19, 149, 0.06);
  border-radius: 27px;
  padding: 13px 30px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 19, 149, 0.15);
  color: rgba(0, 19, 149, .6) !important;

  &:focus {
    box-shadow: inset 0 6px 4px rgba(0, 19, 149, 0.1);
  }
}