/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  width: 100%;
}

.btn {
  border: none;
  border-radius: 30px;
  box-shadow: none;
  padding: 12px 34px;
  outline: none !important;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include transition();
  &-primary {
    background: $main-second-color !important;
    &:hover {
      box-shadow: 0 40px 60px rgba(250, 154, 100, 0.25);
    }
    &:focus {
      box-shadow: none;
    }
  }

  &-lg {
    padding: 18px 59px;
  }
  &-sm {

  }
}

.card {
  max-height: 283px;
  background: #ffffff;
  border: 1px solid rgba(0, 19, 149, 0.06);
  box-shadow: 0 5px 10px rgba(0, 20, 149, 0.15);
  border-radius: 10px;
  overflow: hidden;
  @include transition();
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 20, 149, 0.3);
    transform: translateY(-10px);
  }

  img {
    width: 100%;
  }
  &-img-top {

  }
  &-body {
    padding: 23px 15px 32px;
    background: #ffffff;
    @include transition();

    &-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      margin: 0 0 8px;
    }
  }
  &-title {
    margin: 0 0 8px;
    color: $title-color;
    font-weight: bold;
    line-height: 25px;
  }
  &-text {
    margin: 0 0 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.05em;
    &.text-subtitle {
      color: rgba(0, 19, 149, 0.4);
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
  &-link {
    @include transition();
  }

  .rating-container {
    margin: 0 0 13px;
    text-align: center;
  }
  &.hidden-btn {
    &:hover {
      .card {
        &-body {
          transform: translateY(-45px);
        }
        &-link {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .card-link {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.rating-container {
  .star {
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.accordion-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  &__box {
    width: 100%;
    margin: 0 0 10px;
    border: 1px solid rgba(0, 19, 149, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 19, 149, 0.1);
    padding: 12px 31px 14px;

    &-title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin: 0;
      @include transition();
      cursor: pointer;
      &:after {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-top: -5px;
        margin-left: 14px;
        border: none;
        border-right: 1px solid $main-first-color;
        border-bottom: 1px solid $main-first-color;
        transform: rotate(45deg) rotate3d(0, 0, 0, 180deg);
        @include transition();
      }
    }
    &-text {
      margin: 0;
    }

    &.active {
      box-shadow: inset 0 4px 10px rgba(0, 19, 149, 0.1);
      .accordion-list {
        &__box {
          &-title {
            margin: 0 0 12px;
            color: $main-second-color;
            font-weight: 600;
            &:after {
              margin-top: 10px;
              border-color: $main-second-color;
              transform: rotate(45deg) rotate3d(-1, 1, 0, 180deg);
            }
          }
          &-text {
            display: block;
          }
        }
      }
    }
    &:hover {
      .accordion-list {
        &__box {
          &-title {
            color: $main-second-color;
            font-weight: 600;
            &:after {
              border-color: $main-second-color;
            }
          }
        }
      }
    }
  }
}

.breadcrumb {
  margin-bottom: 30px;
  padding: 0;
  background: none;

  &-item {
    font-size: 14px;
    line-height: 24px;
    a {
      color: #ffffff;
      text-decoration: underline;
    }

    &.active {
      color: #ffffff;
      text-decoration: none !important;
    }
  }
}

/* MAIN BANNER */
.section-main-banner {
  height: 475px;
  padding: 85px 0 40px;

  &> .container {
    position: relative;
  }
}

.main-banner {
  &__pic {
    position: absolute;
    top: -85px;
    right: -11%;
  }

  &__content {
    max-width: 75%;
  }
  &__title {
    margin: 0 0 16px;
    color: $main-second-color;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  }
  &__text {
    margin: 0 0 30px;
    color: #ffffff;
    line-height: 28px;

    a {
      color: $main-second-color;
    }
  }
  &__btn {

  }
}

/* TOP SLOTS */
.section-top-slots {}

.top-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    max-width: 217px;
    max-height: 283px;
    margin: 0 0 45px;
    text-align: center;
    @include transition();

    img {
      width: 100%;
      height: 153px;
    }
  }
}

/* BEST CASINO */
.section-best-casino {

}

.best-casino {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    width: 100%;
    max-width: 304px;
    margin: 0 0 45px;
    text-align: center;
    &.card {
      max-height: 309px;
    }

    img {
      width: 100%;
      height: 105px;
    }
  }
}

/* FREE SLOTS */
.free-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    max-width: 217px;
    margin: 0 0 45px;
    text-align: center;

    img {
      width: 100%;
      height: 153px;
    }
  }
}

/* BEST SLOTS */
.best-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    &.card {
      text-align: center;
      &.hidden-btn {
        max-height: 229px;
      }
    }

    img {
      width: 100%;
      max-height: 108px;
    }

    .card-text {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/* THEME SLOTS */
.section-themes {

}

.slot-theme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    max-width: 190px;
    max-height: 260px;
    margin: 0 0 30px;
    text-align: center;

    img {
      height: 155px;
    }

    .card {
      &-body {
        padding: 24px 15px 28px;
      }
      &-text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: normal;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-text {
      margin: 0;
      img {
        float: right;
      }
    }
    &-pic {

    }
  }
}

/* FAQ */
.section-faq {
  .title {
    text-transform: uppercase;
  }
}

/* ALL PROVIDERS */
.section-providers {
  @extend %gradient-bg;

  &> .container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
  }
}

.all-providers {
  width: 70%;
  padding: 27px 0 43px;
  &__pic {
    img {
      position: absolute;
      top: 0;
      left: -10px;
    }
  }

  &__title {
    margin: 0 0 16px;
    color: $main-second-color;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__text {
    color: #ffffff;
  }
}

/* SLOTS PROVIDERS */
.slot-providers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__box {
    &.card {
      max-width: 217px;
      max-height: 156px;
      margin: 0 0 50px;
      text-align: center;
    }
    img {
      width: 100%;
      height: 108px;
    }
    .card {
      &-body {
        padding: 12px 12px 15px;

        &-group > * {
          flex: 0 0 50%;
          margin: 0;
        }
      }
      &-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-align: right;
      }
      &-text {
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        word-break: break-all;
      }
    }
  }
}

/* RECOMMENDED */
.recommended {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__box {
    max-width: 305px;
    text-align: center;
    &.card {
      max-height: 300px;
    }

    img {
      height: 150px;
    }

    .card {
      &-body {
        padding: 14px 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
      }
    }
  }
}