/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  width: 100%;
}

/* MAIN BANNER */
.section-main-banner {
  height: 475px;
  padding: 85px 0 40px;

  & > .container {
    position: relative;
  }
}

.main-banner {
  &__pic {
    position: absolute;
    top: -85px;
    right: -11%;
  }

  &__content {
    max-width: 75%;
  }
  &__title {
    margin: 0 0 16px;
    color: $main-second-color;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  }
  &__text {
    margin: 0 0 30px;
    color: #ffffff;
    line-height: 28px;

    a {
      color: $main-second-color;
    }
  }
  &__btn {

  }
}

/* TOP SLOTS */
.section-top-slots {
}

.top-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    max-width: 217px;
    max-height: 283px;
    margin: 0 0 45px;
    text-align: center;
    @include transition();

    img {
      width: 100%;
      height: 153px;
    }
  }
}

/* BEST CASINO */
.section-best-casino {

}

.best-casino {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    width: 100%;
    max-width: 304px;
    margin: 0 0 45px;
    text-align: center;
    &.card {
      max-height: 309px;
    }

    img {
      width: 100%;
      height: 105px;
    }
  }
}

/* FREE SLOTS */
.free-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    max-width: 217px;
    margin: 0 0 45px;
    text-align: center;

    img {
      width: 100%;
      height: 153px;
    }
  }
}

/* BEST SLOTS */
.best-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    &.card {
      text-align: center;
      &.hidden-btn {
        max-height: 229px;
      }
    }

    img {
      width: 100%;
      max-height: 108px;
    }

    .card-text {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/* THEME SLOTS */
.section-themes {

}

.slot-theme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    max-width: 190px;
    max-height: 260px;
    margin: 0 0 30px;
    text-align: center;

    img {
      height: 155px;
    }

    .card {
      &-body {
        padding: 24px 15px 28px;
      }
      &-text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: normal;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-text {
      margin: 0;
      img {
        float: right;
      }
    }
    &-pic {

    }
  }
}

/* FAQ */
.section-faq {
  .title {
    text-transform: uppercase;
  }
}

/* SLOTS PROVIDERS */
.slot-providers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__box {
    &.card {
      max-width: 217px;
      max-height: 156px;
      margin: 0 0 50px;
      text-align: center;
    }
    img {
      width: 100%;
      height: 108px;
    }
    .card {
      &-body {
        padding: 12px 12px 15px;

        &-group > * {
          flex: 0 0 50%;
          margin: 0;
        }
      }
      &-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-align: right;
      }
      &-text {
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        word-break: break-all;
      }
    }
  }
}

/* RECOMMENDED */
.recommended {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__box {
    max-width: 305px;
    text-align: center;
    &.card {
      max-height: 300px;
    }

    img {
      height: 150px;
    }

    .card {
      &-body {
        padding: 14px 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
      }
    }
  }
}

/* FREE SLOTS */
.free-slot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    &.card {
      max-width: 217px;
      max-height: 180px;
      margin: 0 0 44px;
      text-align: center;
      &:hover {
        .card-link {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        height: 125px;
      }
    }
    .card {
      &-body {
        padding: 9px 16px;
        transform: translateY(-20%);
      }
      &-title {
        text-align: left;
      }
      &-link {
        display: none;
      }
    }
  }
}

.best-slots-banner {
  .banner {
    &__pic {
      img {
        top: auto;
        bottom: -22px;
      }
    }
  }
}

.check-list {
  padding-left: 25px;
  list-style-image: url(../img/check.svg);
  li {
    margin: 0 0 11px;
    &:last-child {
      margin: 0;
    }
    a {
      color: $main-second-color;
    }
  }
}

/* CASINO BONUSES */
.top {
  counter-reset: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
  &__box {
    position: relative;
    width: 100%;
    max-width: 305px;
    background: #ffffff;
    border: 1px solid rgba(0, 19, 149, 0.06);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 20, 149, 0.15);
    text-align: center;
    &.first {
      max-width: 335px;

      .top__box {
        &-number {
          &:after {
            border-color: $main-second-color $main-second-color transparent;
          }
        }
        &-pic {
          img {
            width: 160px;
            height: 89px;
          }
        }
      }
    }

    .rating-container {
      margin: 0 0 12px;
      .star {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    &-head {
      padding: 16px 20px 22px;
      background: #f3f3f3;
    }
    &-body {
      padding: 22px 15% 30px;
    }
    &-number {
      position: absolute;
      top: 0;
      left: 9%;
      border-radius: 100%;
      z-index: 0;

      &:before {
        counter-increment: top;
        content: counter(top);
        position: absolute;
        top: 10px;
        left: 50%;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: #ffffff;
        font-size: 15px;
        font-weight: 900;
        line-height: 1.5;
        transform: translateX(-50%);
        z-index: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-width: 40px 20px 13px;
        border-style: solid;
        border-color: #CFCFCF #CFCFCF transparent;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
    &-pic {
      img {
        width: 145px;
        height: 80px;
      }
    }
    &-title {
      margin: 0 0 22px;
      padding: 3px 0 5px;
      border-bottom: 1px solid rgba(0, 19, 149, 0.4);
      font-size: 19px;
      font-weight: 700;
    }
    &-text {
      margin: 0;
      padding: 0 0 15px;
      border-bottom: 1px solid rgba(0, 19, 149, 0.4);
    }
    &-link {

    }
  }
}

/* BONUS GUIDE */
.bonus-steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  padding: 50px 0;
  &__text {
    flex: 1 1 50%;
    display: inline-block;
    max-width: 220px;

    &:nth-child(1) {
      margin: 10px 0 0px -13% !important;
    }
    &:nth-child(2) {
      margin: 10px -6% 0 5% !important;
    }
    &:nth-last-child(2) {
      margin: -10% -10% 0 0 !important;
    }
    &:nth-last-child(1) {
      margin: -10% -15% 0 12% !important;
    }
  }
  &__pic {
    flex: 1 1 100%;
    margin: -110px 0 0;
    text-align: center;
    img {

    }
  }
}

/* SLOT REVIEW */
.sidebar {
  max-width: 25%;

  .title {
    margin: 0 0 26px;
    color: rgba(255, 255, 255, 0.8) !important;
    text-transform: none !important;
  }
}

.slot-review {
  padding-top: 27px;
  padding-bottom: 65px;

  .title {
    margin: 0 0 11px;
    color: $main-second-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }
  &__game {
    width: 70%;
  }
}

.slot-game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-left: -45px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 32px 45px 44px;
  background: #0C2064;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), inset 10px 10px 30px rgba(255, 255, 255, 0.04);

  &__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 30px;
  }
  &__provider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    margin-right: 78px;

    img {
      height: 44px;
    }

    &-link {
      margin-left: 14px;
      color: #fff;
      font-size: 16px;
      text-decoration: underline;
      &:hover {
        color: $main-second-color;
      }
    }
  }
  &__rating-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: #ffffff;

    .rating-container {
      margin: 0 12px;

      .star svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__area {
    position: relative;
    height: 505px;
    margin: 0 0 30px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .7);
      z-index: 1;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
  }
  &__start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  &__row-box {
    margin: 0 0 30px;
  }
  &__buttons {
    margin: 0 17px;
  }
}

/* SLOT CONTENT */
.slot-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slot-content {
  width: 74%;
}

.slot-details {
  margin: 0 0 45px;
  border: 1px solid rgba(0, 19, 149, 0.1);
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: inset 0 10px 20px rgba(0, 19, 149, 0.1);
  padding: 36px 57px;
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow: auto;
    li {
      flex: 1 1 auto;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: unset;
      width: 50%;
      margin: 0 0 16px;
      padding: 0 2%;

      &> * {
        flex: 1 1 50%;
      }
    }
  }
  &__link {

  }
  &__text {
    color: $main-second-color;
    font-weight: 600;
  }
}

.slot-sidebar {
  width: 24%;

  &__box {
    border: 0.3px solid rgba(0, 20, 149, 0.3);
    border-radius: 10px;
    padding: 16px;
    background: #FDFDFD;
    &:not(:last-child) {
      margin: 0 0 45px;
    }

    .title {
      margin: 0 0 16px;
      color: $main-first-color !important;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      text-transform: none !important;
    }
    &-content {

    }
    &-card {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      width: 100%;
      &:not(:last-child) {
        margin: 0 0 16px;
      }
      &-name {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }

      img {
        width: 74px;
        height: 50px;
        border-radius: 10px;
      }

      .btn {
        padding: 4px 22px;
      }
    }
  }
}

.slot-img-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 0 45px;
  &> * {
    flex: 0 0 auto;
  }
  img {
    width: 218px;
    height: 164px;
  }
}

/* REVIEWS */
.section-reviews {
  padding: 40px 0;

  .title {
    margin: 0 0 30px;
    color: $main-second-color;
    text-transform: uppercase;
  }
}

.reviews {
  &__box {
    margin: 0 0 30px;

    &-head {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: flex-end;
      margin: 0 0 30px;

      &> * {
        margin-right: 16px;
        line-height: 1;
      }

      .rating-container {
        .star svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &__timing {
    color: rgba(255, 255, 255, .7);
    font-size: 20px;
    font-weight: 600;
  }
  &__author {
    font-size: 22px;
    text-transform: capitalize;
  }
  &__text {
    margin: 0;
  }
  &__link {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(255, 255, 255, .7);
    text-transform: capitalize;

    &:hover {
      color: $main-second-color;
    }
  }
}

/* SEND REVIEW */
.section-send-reviews {
  .title {
    text-transform: none;
  }
}

.send-review {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  &__form {
    width: 50%;

    textarea {
      min-height: 124px;
      max-height: 250px;
    }
  }

  &__pic {
    position: absolute;
    right: -14%;
    bottom: -135px;
    z-index: 1;
  }
}