/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  width: 100%;
}

/* MAIN BANNER */
.section-main-banner {
  height: 475px;
  padding: 85px 0 40px;

  & > .container {
    position: relative;
  }
}

.main-banner {
  &__pic {
    position: absolute;
    top: -85px;
    right: -11%;
  }

  &__content {
    max-width: 75%;
  }
  &__title {
    margin: 0 0 16px;
    color: $main-second-color;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  }
  &__text {
    margin: 0 0 30px;
    color: #ffffff;
    line-height: 28px;

    a {
      color: $main-second-color;
    }
  }
  &__btn {

  }
}

/* TOP SLOTS */
.section-top-slots {
}

.top-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    max-width: 217px;
    max-height: 283px;
    margin: 0 0 45px;
    text-align: center;
    @include transition();

    img {
      width: 100%;
      height: 153px;
    }
  }
}

/* BEST CASINO */
.section-best-casino {

}

.best-casino {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    width: 100%;
    max-width: 304px;
    margin: 0 0 45px;
    text-align: center;
    &.card {
      max-height: 309px;
    }

    img {
      width: 100%;
      height: 105px;
    }
  }
}

/* FREE SLOTS */
.free-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    max-width: 217px;
    margin: 0 0 45px;
    text-align: center;

    img {
      width: 100%;
      height: 153px;
    }
  }
}

/* BEST SLOTS */
.best-slots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    &.card {
      text-align: center;
      &.hidden-btn {
        max-height: 229px;
      }
    }

    img {
      width: 100%;
      max-height: 108px;
    }

    .card-text {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

/* THEME SLOTS */
.section-themes {

}

.slot-theme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  &__box {
    max-width: 190px;
    max-height: 260px;
    margin: 0 0 30px;
    text-align: center;

    img {
      height: 155px;
    }

    .card {
      &-body {
        padding: 24px 15px 28px;
      }
      &-text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: normal;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-text {
      margin: 0;
      img {
        float: right;
      }
    }
    &-pic {

    }
  }
}

/* FAQ */
.section-faq {
  .title {
    text-transform: uppercase;
  }
}

/* SLOTS PROVIDERS */
.slot-providers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__box {
    &.card {
      max-width: 217px;
      max-height: 156px;
      margin: 0 0 50px;
      text-align: center;
    }
    img {
      width: 100%;
      height: 108px;
    }
    .card {
      &-body {
        padding: 12px 12px 15px;

        &-group > * {
          flex: 0 0 50%;
          margin: 0;
        }
      }
      &-title {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        text-align: right;
      }
      &-text {
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        word-break: break-all;
      }
    }
  }
}

/* RECOMMENDED */
.recommended {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__box {
    max-width: 305px;
    text-align: center;
    &.card {
      max-height: 300px;
    }

    img {
      height: 150px;
    }

    .card {
      &-body {
        padding: 14px 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 18px;
        text-align: left;
      }
    }
  }
}

/* FREE SLOTS */
.free-slot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__box {
    &.card {
      max-width: 217px;
      max-height: 180px;
      margin: 0 0 44px;
      text-align: center;
      &:hover {
        .card-link {
          display: inline-block;
        }
      }
      img {
        width: 100%;
        height: 125px;
      }
    }
    .card {
      &-body {
        padding: 9px 16px;
        transform: translateY(-20%);
      }
      &-title {
        text-align: left;
      }
      &-link {
        display: none;
      }
    }
  }
}

.best-slots-banner {
  .banner {
    &__pic {
      img {
        top: auto;
        bottom: -22px;
      }
    }
  }
}

.check-list {
  padding-left: 25px;
  list-style-image: url(../img/check.svg);
  li {
    margin: 0 0 11px;
    &:last-child {
      margin: 0;
    }
    a {
      color: $main-second-color;
    }
  }
}

/* CASINO BONUSES */
.top {
  counter-reset: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
  &__box {
    position: relative;
    width: 100%;
    max-width: 305px;
    background: #ffffff;
    border: 1px solid rgba(0, 19, 149, 0.06);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 20, 149, 0.15);
    text-align: center;
    &.first {
      max-width: 335px;

      .top__box {
        &-number {
          &:after {
            border-color: $main-second-color $main-second-color transparent;
          }
        }
        &-pic {
          img {
            width: 160px;
            height: 89px;
          }
        }
      }
    }

    .rating-container {
      margin: 0 0 12px;
      .star {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    &-head {
      padding: 16px 20px 22px;
      background: #f3f3f3;
    }
    &-body {
      padding: 22px 15% 30px;
    }
    &-number {
      position: absolute;
      top: 0;
      left: 9%;
      border-radius: 100%;
      z-index: 0;

      &:before {
        counter-increment: top;
        content: counter(top);
        position: absolute;
        top: 10px;
        left: 50%;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: #ffffff;
        font-size: 15px;
        font-weight: 900;
        line-height: 1.5;
        transform: translateX(-50%);
        z-index: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-width: 40px 20px 13px;
        border-style: solid;
        border-color: #CFCFCF #CFCFCF transparent;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
    &-pic {
      img {
        width: 145px;
        height: 80px;
      }
    }
    &-title {
      margin: 0 0 22px;
      padding: 3px 0 5px;
      border-bottom: 1px solid rgba(0, 19, 149, 0.4);
      font-size: 19px;
      font-weight: 700;
    }
    &-text {
      margin: 0;
      padding: 0 0 15px;
      border-bottom: 1px solid rgba(0, 19, 149, 0.4);
    }
    &-link {

    }
  }
}

/* BONUS GUIDE */
.bonus-steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  padding: 50px 0;
  &__text {
    flex: 1 1 50%;
    margin: 0 !important;
  }
  &__pic {
    flex: 1 1 100%;
    text-align: center;
    img {

    }
  }
}