/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}

// max-width
@include media-breakpoint-down(lg) {
  .banner {
    &_bonus {
      .banner {
        &__pic {
          img {
            right: -10%;
          }
        }
      }
    }
    &__list {
      width: 28%;
    }
  }

  .header {
    &__menu {
      width: 65%;
    }
  }

  .best-slots {
    &__box {
      margin: 0 0 25px;
    }
  }

  .top {
    &__box {
      margin: 0 0 28px;
    }
  }

  .bonus-steps {
    justify-content: center;

    &__text {
      font-weight: 600 !important;
      &:nth-child(1), &:nth-child(2) {
        margin: 0 10px !important;
      }
      &:nth-last-child(1), &:nth-last-child(2) {
        margin: 0 10px !important;
      }
    }
    &__pic {
      margin: 0;

      img {
        width: 100%;
      }
    }
  }

  .casino-compare {
    &__list {
      &:not(:last-child) {
        margin: 0 0 30px;
      }
    }
  }

  .slot-container {
    justify-content: center;
  }

  .slot-content {
    width: 100%;
    margin: 0 0 55px;
  }

  .slot-sidebar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    max-width: none;

    &__box {
      max-width: 48%;
      margin: 0 !important;

      &:not(:last-child) {

      }
    }
  }
}

@include media-breakpoint-down(md) {
  .section {
    margin: 0 0 55px;
  }

  .banner {
    flex-wrap: wrap;
    .banner {
      &__list {
        order: 2;
        position: relative;
        top: 0;
        width: 100%;
        max-width: none;
        margin: -20px 0 30px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0;
        padding: 10px 15px 15px;
        background: #0C2064;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), inset 10px 10px 30px rgba(255, 255, 255, 0.04);
        text-align: center;

        ul {
          position: relative;
          max-height: 180px;
          overflow: hidden;
          text-align: left;
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            box-shadow: 0 0px 15px 16px #0c2064;
          }

          a {
            color: #ffffff;
            text-decoration: underline;
          }
        }

        .btn-link {
          color: #ffffff;
        }
      }
    }
    &_bonus {
      .banner__body {
        width: 100%;
      }
    }
    &__body {
      order: 1 !important;;
      width: 100%;
    }
    &__pic {
      order: 2;
      display: none;
    }

    &.best-slots-banner {
      .banner {
        &__pic {
          display: block;

          img {
            top: auto;
            right: 15px;
            bottom: -7px;
            left: auto;
            width: 121px;
            height: 117px;
            transform: rotate3d(0, 1, 0, 180deg);
          }
        }
      }
    }
  }

  .btn {
    padding: 12px 20px;
  }

  .header {
    &__menu {
      width: auto;

      &-list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background: #ffffff;
        @include transition();

        &.active {
          top: 0;
          left: 0;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 90px 16px 20px;
          opacity: 1;
          visibility: visible;
        }
      }
      &-link {
        margin: 0 0 18px;
        font-size: 25px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }
    }
  }

  .section-main-banner {
    padding: 55px 0 65px;
  }

  .main-banner {
    &__content {
      max-width: none;
    }
    &__pic {
      display: none;
    }
  }

  .top-slots {
    justify-content: space-around;
  }

  .best-casino {
    justify-content: space-around;
  }

  .free-slots {
    justify-content: space-around;
  }

  .best-slots {
    justify-content: space-around;
  }

  .slot-theme {
    justify-content: space-around;
  }

  .slot-theme {
    &__description-text {
      img {
        width: 165px;
        height: 165px;
      }
    }
  }

  .search-tag {
    &__link {

    }
  }

  .send-review {
    &__pic {
      display: none;
    }
  }

  .free-slot {
    justify-content: space-around;
  }

  .slot-providers {
    justify-content: space-around;
  }

  .recommended {
    justify-content: space-around;

    &__box {
      margin: 0 0 20px;
    }
  }

  .casino-review {
    justify-content: space-around;

    &__logo, &__rating {
      margin: 0 0 30px;
    }
  }

  .casino {
    justify-content: center;

    &__description {
      width: 100%;
      max-width: none;

      .table {
        tr td {
          display: block !important;

          &:nth-child(1), &:nth-child(3) {
            display: none !important;
          }
        }
      }
    }
    &__sidebar {
      &.sidebar {
        max-width: none;
      }

      &-box {

      }
      &-list {

      }
    }
  }

  .casino-compare {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__list {
      text-align: left;
    }
  }
}

@include media-breakpoint-down(sm) {
  .table {
    th, td {
      flex: 1 1 33%;
      display: none;
      font-size: 16px;

      &:nth-child(2), &:nth-child(3), &:nth-last-child(1) {
        display: block;
      }
    }

    .btn {
      padding: 11px 16px;
      font-size: 14px;
    }
  }

  .sidebar {
    .title {
      margin: 0 0 30px;
      text-align: center;
    }
  }

  .slot-review {
    padding-bottom: 15px;
    &__container {
      flex-wrap: wrap;
    }

    &__game {
      width: 100%;
      margin: 0 0 34px;
    }
    .slot-game {
      width: 100%;
      margin: 0;
      padding: 8px 10px 27px;
      &__provider {
        display: none;
      }
      &__buttons {
        max-width: 162px;
        margin: 0 5px;
        border-radius: 30px;
        padding: 9px 7px;
        line-height: 20px;
      }
    }

    &__sidebar.sidebar {
      width: 100%;
      max-width: none;
    }
  }

  .partners {
    picture {
      flex: 1 1 auto;
      text-align: center;
      img {
        width: 100%;
      }
    }
  }

  .footer-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    &__box {
      width: 100% !important;
      max-width: none !important;
    }
    &__text {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .copyright {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .title {
    margin: 0 0 30px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    text-transform: none;
  }

  .card {
    &-link {
      padding: 12px;
    }
  }

  .accordion-list {
    &__box {
      &-title {
        font-size: 16px;
        line-height: 26px;
      }
      &-text {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .main-banner {
    &__content {
      text-align: center;
    }
    &__title {
      margin: 0 0 20px;
      font-size: 30px;
      line-height: 40px;
    }
  }

  .top-slots {
    &__box {
      margin-right: 20px;
    }
  }

  .best-casino {
    &__box {
      max-width: 244px;
      margin-right: 20px;
    }
  }

  .free-slots {
    &__box {
      max-width: 106px;
      max-height: 126px;
      margin: 0 0 10px;

      img {
        height: 70px;
      }

      .card {
        &-body {
          padding: 15px 10px !important;
        }
        &-title {
          font-size: 14px;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &-text {
          display: none;
        }
      }

      .rating-container {
        display: none;
      }

      .btn {
        padding: 8px 5px;
        font-size: 12px;
      }
    }
  }

  .best-slots {
    &__box {
      max-width: 181px;
      margin-right: 20px;

      &.card.hidden-btn {
        max-height: 204px;
      }
    }
  }

  .slot-theme {
    margin: 0 0 15px;
    &__box {
      max-width: 182px;
      max-height: 212px;
      margin-right: 20px;

      img {
        height: 130px;
      }

      .card-body {
        padding: 13px 16px 16px;
      }
    }
    &__description-text {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .send-review {
    justify-content: center;
  }

  .free-slot {
    &__box {
      &.card {
        max-width: 162px;
        margin: 0 0 20px;

        &.hidden-btn .card {
          &-body {
            height: 98px;
            transform: translateY(-40%);
          }
          &-title {
            font-size: 16px;
            text-align: center;
          }
        }
      }

      .card-body-group {
        flex-direction: column;
        flex-wrap: wrap;
      }
      .rating-container {
        margin: 5px 0 0 !important;
      }
    }
  }

  .pagination {
    .page-item {
      &:first-child, &:last-child {
        .page-link {
          font-size: 0;
        }
      }
    }
    .page-link {
      svg {
        display: inline-block;
      }
    }
  }

  .check-list {
    li {
      a {
        text-decoration: underline;
      }
    }
  }

  .slot-providers {
    &__box.card {
      margin: 0 0 20px;
    }
  }

  .top {
    &__box {
      margin: 0 0 28px;
      &.first {
        max-width: 305px;
      }
    }
  }

  .text-block {
    p {
      font-size: 16px;
    }
  }

  .bonus-steps {
    justify-content: center;

    &__text {
      max-width: 150px;
    }
  }

  .casino-review {
    &__rating-box {
      .rating-container {
        margin-left: 20px;
      }
    }
  }

  .welcome-bonus {
    margin: 0 auto 22px;
  }

  .send-review {
    &__form {
      width: 100%;
      max-width: none;
    }
  }

  .slot-details {
    &__list {
      flex-wrap: nowrap;
      align-items: center;

      li {
        width: 100%;
      }
    }
  }

  .slot-img-row {
    flex-wrap: wrap;
    &> * {
      margin: 0 20px 20px 0;
    }
  }

  .slot-sidebar {
    justify-content: center;

    &__box {
      max-width: none;
      margin: 0 0 30px !important;
      &:last-child {
        margin: 0 !important;
      }
    }
  }

  .partners {
    picture {
      width: 25%;
      margin: 0 0 20px;

      img {
        max-width: 73px;
      }
    }
  }

  .footer-content {
    &__box {
      &:nth-child(2) {
        flex-wrap: wrap;
      }
    }

    &__menu {
      flex: 0 0 45%;
      &:nth-child(3) {
        flex: 0 0 100%;
      }

      &-nav {
        max-height: 160px;
        margin: 20px 0;

        a {
          margin: 0 0 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .table {
    &-pic img {
      width: 101px;
      height: 52px;
    }
  }

  .casino-review {
    &__rating-box {
      span {
        &:first-child {
          max-width: 135px;
        }
      }

      .rating-container {
        margin: 0;
      }
    }
  }

  .reviews {
    &__author {
      margin: 10px 0 0;
    }
    &__text {
      font-size: 16px;
    }
  }

  .footer-content {
    &__logo {

    }
    &__text {
      margin: 0 0 30px;
    }
    &__box {
      &:nth-child(2) {
        justify-content: space-between;
      }
    }
    &__menu {
      margin: 0 !important;
      &-title {
        margin: 0 0 14px;
      }
      &-list {
        li {
          &:not(:last-child) {
            margin: 0 0 10px;
          }
        }
      }

      &-nav a {
        flex: 1 1 50%;
        margin: 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 395px) {
  .banner {
    &__text {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .best-casino {
    &__box {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .best-slots {
    &__box {
      margin-right: 10px;
    }
  }

  .slot-theme {
    &__box {
      margin-right: 0;
    }
  }

  .rating-box {
    &__text {
      margin: 0 0 0 8px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 375px) {
  .casino-review {
    &__rating-box {
      flex-direction: column;

      span:first-child {
        max-width: none;
      }
    }

    &__pay-method {
      width: 200px;
      margin-left: 10px;
    }
  }
}