<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>slot review page</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container d-flex flex-lg-row flex-row-reverse flex-wrap justify-content-between align-items-center align-content-center pt-4 pb-3">
            <a href="index.html" class="header__logo">
                <picture>
                    <img src="<%= require('./img/logo.svg') %>" alt="main-logo">
                </picture>
            </a>

            <div class="header__menu">
                <button class="header__menu-switch d-lg-none">
                    <span class="header__menu-switch_line"></span>
                </button>

                <nav class="header__menu-list">
                    <a href="#" class="header__menu-link">Online Casinos</a>
                    <a href="free-slots.html" class="header__menu-link">Free Slots</a>
                    <a href="providers.html" class="header__menu-link">All Providers</a>
                    <a href="casino-bonus.html" class="header__menu-link">Casino Bonuses</a>
                    <a href="#" class="header__menu-link">Contacts</a>
                </nav>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="section section-slot-review">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/banner-bg02.jpg') %>" class="section-bg__img" alt="banner-background">
                </picture>
            </div>

            <div class="container slot-review">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Software Providers</li>
                    </ol>
                </nav>

                <h2 class="title">Buffalo</h2>

                <div class="slot-review__container">
                    <!-- game wrap -->
                    <div class="slot-review__game">
                        <div class="slot-game">
                            <div class="slot-game__head">
                                <div class="slot-game__provider">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/provider-logo01.png') %>" alt="slot-provider-logo">
                                    </picture>
                                    <a href="#" class="slot-game__provider-link">See More Slots</a>
                                </div>

                                <div class="slot-game__rating-box">
                                    <span>Rating</span>
                                    <input type="text" class="rating-input rating-read" value="4">
                                    <span>(357 players voited)</span>
                                </div>
                            </div>

                            <div class="slot-game__area">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-preview01.png') %>" alt="slot-preview">
                                </picture>
                                <button type="button" id="game_start" class="slot-game__start btn btn-primary btn-lg">Play the game</button>
                            </div>

                            <div class="slot-game__row-box d-inline-flex flex-row flex-wrap justify-content-center">
                                <a href="#" class="slot-game__buttons btn btn-outline-light">Report A Problem With This Game</a>
                                <a href="#" class="slot-game__buttons btn btn-outline-light">Refresh My Game Credits</a>
                            </div>

                            <a href="#" class="btn btn-primary btn-lg btn-block">Play for real money up to 01600 casino bonus</a></div>
                    </div>

                    <!-- sidebar -->
                    <div class="slot-review__sidebar sidebar">
                        <p class="title">Ready To Play For Real?</p>

                        <div class="best-casino">
                            <div class="best-casino__box card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/casino-logo01.png') %>" alt="">
                                </picture>

                                <div class="card-body">
                                    <p class="card-title">Vbet Casino</p>
                                    <input type="text" class="rating-input rating-read" value="4">
                                    <p class="card-text"><b>100%</b> Up To <b>$1100</b></p>
                                    <a href="#" class="card-link btn btn-primary">Play Now</a>
                                </div>
                            </div>

                            <div class="best-casino__box card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/casino-logo02.png') %>" alt="">
                                </picture>

                                <div class="card-body">
                                    <p class="card-title">EU Casino</p>
                                    <input type="text" class="rating-input rating-read" value="4">
                                    <p class="card-text"><b>150%</b> Up To <b>$100</b></p>
                                    <a href="#" class="card-link btn btn-primary">Play Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-similar">
            <div class="container">
                <h2 class="title">Similar Slots</h2>

                <div class="free-slot mb-2">
                    <div class="free-slot__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="free-slot">
                        </picture>
                        <div class="card-body">
                            <a href="#" class="card-link btn btn-primary btn-block mb-2">play now</a>
                            <p class="card-title">Buffalo</p>
                            <div class="card-body-group">
                                <p class="card-text text-subtitle">aristocrat</p>
                                <input type="text" value="4" class="rating-input rating-read">
                            </div>
                        </div>
                    </div>

                    <div class="free-slot__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-02.jpg') %>" alt="free-slot">
                        </picture>
                        <div class="card-body">
                            <a href="#" class="card-link btn btn-primary btn-block mb-2">play now</a>
                            <p class="card-title">Quick Hit</p>
                            <div class="card-body-group">
                                <p class="card-text text-subtitle">bally</p>
                                <input type="text" value="4" class="rating-input rating-read">
                            </div>
                        </div>
                    </div>

                    <div class="free-slot__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="free-slot">
                        </picture>
                        <div class="card-body">
                            <a href="#" class="card-link btn btn-primary btn-block mb-2">play now</a>
                            <p class="card-title">50 Lions</p>
                            <div class="card-body-group">
                                <p class="card-text text-subtitle">aristocrat</p>
                                <input type="text" value="4" class="rating-input rating-read">
                            </div>
                        </div>
                    </div>

                    <div class="free-slot__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="free-slot">
                        </picture>
                        <div class="card-body">
                            <a href="#" class="card-link btn btn-primary btn-block mb-2">play now</a>
                            <p class="card-title">Triple Diamond</p>
                            <div class="card-body-group">
                                <p class="card-text text-subtitle">igt</p>
                                <input type="text" value="4" class="rating-input rating-read">
                            </div>
                        </div>
                    </div>

                    <div class="free-slot__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="free-slot">
                        </picture>
                        <div class="card-body">
                            <a href="#" class="card-link btn btn-primary btn-block mb-2">play now</a>
                            <p class="card-title">Golden Goddess</p>
                            <div class="card-body-group">
                                <p class="card-text text-subtitle">igt</p>
                                <input type="text" value="4" class="rating-input rating-read">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-slot-content">
            <div class="container slot-container">
                <div class="slot-content">
                    <div class="slot-details">
                        <ul class="slot-details__list">
                            <li><a href="#" class="slot-details__link">RTP</a><span class="slot-details__text">RTP</span></li>
                            <li><a href="#" class="slot-details__link">Demo</a><span class="slot-details__text">Demo</span></li>
                            <li><a href="#" class="slot-details__link">Themes</a><span class="slot-details__text">Themes</span></li>
                            <li><a href="#" class="slot-details__link">Categories</a><span class="slot-details__text">Categories</span></li>
                            <li><a href="#" class="slot-details__link">Software</a><span class="slot-details__text">Software</span></li>
                            <li><a href="#" class="slot-details__link">Title</a><span class="slot-details__text">Title</span></li>
                            <li><a href="#" class="slot-details__link">Paylines</a><span class="slot-details__text">Paylines</span></li>
                            <li><a href="#" class="slot-details__link">Type</a><span class="slot-details__text">Type</span></li>
                            <li><a href="#" class="slot-details__link">Reels</a><span class="slot-details__text">Reels</span></li>

                            <li><a href="#" class="slot-details__link">Wild Symbol</a><span class="slot-details__text">Wild Symbol</span></li>
                            <li><a href="#" class="slot-details__link">Scatter Symbol</a><span class="slot-details__text">Scatter Symbol</span></li>
                            <li><a href="#" class="slot-details__link">Autoplay</a><span class="slot-details__text">Autoplay</span></li>
                            <li><a href="#" class="slot-details__link">Volatility</a><span class="slot-details__text">Volatility</span></li>
                            <li><a href="#" class="slot-details__link">Min Coins per spin</a><span class="slot-details__text">Min Coins per spin</span></li>
                            <li><a href="#" class="slot-details__link">Max Coins per spin</a><span class="slot-details__text">Max Coins per spin</span></li>
                            <li><a href="#" class="slot-details__link">Jackpot</a><span class="slot-details__text">Jackpot</span></li>
                            <li><a href="#" class="slot-details__link">Bonus Game</a><span class="slot-details__text">Bonus Game</span></li>
                            <li><a href="#" class="slot-details__link">Free Spins</a><span class="slot-details__text">Free Spins</span></li>
                        </ul>
                    </div>

                    <div class="text-block">
                        <div class="slot-img-row">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-screen01.png') %>" alt="">
                            </picture>

                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-screen02.png') %>" alt="">
                            </picture>

                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-screen03.png') %>" alt="">
                            </picture>

                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-screen04.png') %>" alt="">
                            </picture>
                        </div>

                        <p>Free spin, like the name suggests, is a spin on a slot machine where the player doesn’t risk any of their own money. It is free. Usually, a big batch of free spins is offered right after registration, but there are online casinos that offer free spins for a deposit too. Free spin or free spins are usually for one slot and the player cannot change the bet amount. Anything you win will be added as bonus money or real money depending on the casino.</p>
                        <p>There is free online Buffalo slot machine for fun and real money version. Both goes with 0.40 total bet. You can change both the total bet and the number of lines. The plus and minus signs at the top of this button allow you to automatically spin the wheels.</p>
                        <p class="semibold">After the bet amount set, press the Play button to spin the reels:</p>

                        <ul>
                            <li>If the same 3 symbols are placed on a pay line side by side — you will be entitled to a reward.</li>
                            <li>By activating the “Xtra Reel Power”, you can increase your chances of winning. However, keep in mind that this feature increases the minimum bet amount by 40 times.</li>
                        </ul>

                        <p class="semibold">Penny Slot machine Buffalo contains 12 symbols to use:</p>

                        <ul>
                            <li>4 symbols have high payout values and are shown with wild animal pictures</li>
                            <li>6 symbols use game card signs.</li>
                            <li>The last two remaining symbols are wild and scatter. These are used to activate certain features and bonus rounds.</li>
                        </ul>

                        <p>The detailed information about bonus features are below. Symbols pay between 2 and 300 coins. This is not a small amount, but they are fixed and do not change according to your bet levels. Fixed paytables are always an advantage since they do not jeopardize your winning chance just because you are using minimum bet amounts.</p>
                    </div>
                </div>

                <div class="slot-sidebar sidebar">
                    <div class="slot-sidebar__box flag-label">
                        <p class="title">TOP 10 Online Slots</p>

                        <div class="slot-sidebar__box-content">
                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Buffalo</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-02.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Diamond Dreams Delux</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-03.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">50 Lions</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-04.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Triple Diamond</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-05.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Golden Goddess</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Buffalo</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-02.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Diamond Dreams Delux</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-03.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">50 Lions</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-04.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Triple Diamond</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-05.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Golden Goddess</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>
                        </div>
                    </div>

                    <div class="slot-sidebar__box flag-label">
                        <p class="title">TOP 10 Game Providers </p>

                        <div class="slot-sidebar__box-content">
                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Buffalo</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-02.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Diamond Dreams Delux</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-03.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">50 Lions</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-04.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Triple Diamond</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-05.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Golden Goddess</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-01.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Buffalo</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-02.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Diamond Dreams Delux</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-03.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">50 Lions</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-04.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Triple Diamond</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>

                            <div class="slot-sidebar__box-card">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/slot-05.jpg') %>" alt="">
                                </picture>
                                <span class="slot-sidebar__box-card-name">Golden Goddess</span>
                                <a href="#" class="btn btn-primary btn-sm">play</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-themes">
            <div class="container">
                <h2 class="section-themes__title title">Slot Themes</h2>
                <div class="slot-theme">
                    <div class="slot-theme__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/theme01.png') %>" alt="">
                        </picture>
                        <div class="card-body">
                            <p class="card-text">Free Bugs Slot Online</p>
                            <a href="" class="card-link btn btn-primary">see slots</a>
                        </div>
                    </div>

                    <div class="slot-theme__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/theme02.png') %>" alt="">
                        </picture>
                        <div class="card-body">
                            <p class="card-text">Free Pub Slot Online</p>
                            <a href="" class="card-link btn btn-primary">see slots</a>
                        </div>
                    </div>

                    <div class="slot-theme__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/theme03.png') %>" alt="">
                        </picture>
                        <div class="card-body">
                            <p class="card-text">Free Maya Slot Online</p>
                            <a href="" class="card-link btn btn-primary">see slots</a>
                        </div>
                    </div>

                    <div class="slot-theme__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/theme04.png') %>" alt="">
                        </picture>
                        <div class="card-body">
                            <p class="card-text">Free Party and Nightlife Slot Online</p>
                            <a href="" class="card-link btn btn-primary">see slots</a>
                        </div>
                    </div>

                    <div class="slot-theme__box card hidden-btn">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/theme05.png') %>" alt="">
                        </picture>
                        <div class="card-body">
                            <p class="card-text">Free Ocean Slot Online</p>
                            <a href="" class="card-link btn btn-primary">see slots</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-tags">
            <div class="container">
                <h2 class="title">POPULAR SEARCH</h2>

                <div class="search-tag">
                    <a href="#" class="search-tag__link btn btn-light">Blog</a>
                    <a href="#" class="search-tag__link btn btn-light">Online Casinos Worldwide</a>
                    <a href="#" class="search-tag__link btn btn-light">Casino by Deposit</a>
                    <a href="#" class="search-tag__link btn btn-light">Top 10 Online Casino</a>
                    <a href="#" class="search-tag__link btn btn-light">Top 10 Casino Games</a>
                    <a href="#" class="search-tag__link btn btn-light">Real Money Slots</a>
                    <a href="#" class="search-tag__link btn btn-light">Casino by Currency</a>
                    <a href="#" class="search-tag__link btn btn-light">Online Casinos by License</a>
                    <a href="#" class="search-tag__link btn btn-light">Casino by Deposit</a>
                    <a href="#" class="search-tag__link btn btn-light">Top 10 Casino Games</a>
                </div>
            </div>
        </div>

        <div class="section section-reviews gradient-bg">
            <div class="container text-white">
                <h2 class="title">reviews</h2>
                <div class="reviews">
                    <div class="reviews__box">
                        <div class="reviews__box-head">
                            <input type="text" value="4" class="rating-input rating-read">
                            <span class="reviews__timing">13.01.2020</span>
                            <span class="reviews__author">Lora Blackwood</span>
                        </div>
                        <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie</p>
                    </div>

                    <div class="reviews__box">
                        <div class="reviews__box-head">
                            <input type="text" value="4" class="rating-input rating-read">
                            <span class="reviews__timing">20.11.2019</span>
                            <span class="reviews__author">James Smith</span>
                        </div>
                        <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <a href="#" class="reviews__link btn btn-link font-italic">Load More Rewiews</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-send-reviews">
            <div class="container">
                <p class="title">Send your rewiew</p>
                <div class="send-review">
                    <form action="mailto:test29031993@gmail.com" method="post" id="send_review" class="send-review__form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name*" required>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail*" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Comment"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="captcha">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/captcha.png') %>" alt="">
                                </picture>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="send your review" class="btn btn-primary btn-lg">
                        </div>
                    </form>

                    <picture class="send-review__pic">
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review-bg-img.png') %>" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partners">
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner01.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner02.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner03.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner04.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner05.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner06.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner07.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner08.png') %>" alt="partner"></picture>
                    </div>
                </div>
            </div>

            <div class="footer-content">
                <div class="footer-content__box">
                    <a href="index.html" class="footer__logo">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/footer-logo.svg') %>" alt="main-logo">
                        </picture>
                    </a>

                    <p class="footer-content__text">Use our games to try your hand try your hand at these fun mock progressive games – in real life casino games, this is where different players from anywhere
                        in the world that are connected to the same progressive jackpot slot online can place bets continuously as they play – the more players – the higher the
                        jackpot amount and the more reason for more players to join it.</p>
                </div>

                <div class="footer-content__box">
                    <div class="footer-content__menu">
                        <p class="footer-content__menu-title">Popular categories</p>
                        <ul class="footer-content__menu-list">
                            <li><a href="#">Online Casinos by Different Countries</a></li>
                            <li><a href="#">Best Online Slots</a></li>
                            <li><a href="#">Casino Deposit Methods</a></li>
                            <li><a href="#">Safe Online Casinos</a></li>
                            <li><a href="#">Bitcoin Casinos</a></li>
                        </ul>
                    </div>

                    <div class="footer-content__menu">
                        <p class="footer-content__menu-title">Popular games</p>
                        <ul class="footer-content__menu-list">
                            <li><a href="#">Online Keno</a></li>
                            <li><a href="#">New Popular Free Online Games</a></li>
                            <li><a href="#">Online Pokies</a></li>
                            <li><a href="#">Blackjack Online</a></li>
                            <li><a href="#">Roulette Online</a></li>
                        </ul>
                    </div>

                    <div class="footer-content__menu">
                        <nav class="footer-content__menu-nav">
                            <a href="#">about us</a>
                            <a href="#">Privacy policy</a>
                            <a href="#">terms of use</a>
                            <a href="#">contacts</a>
                            <a href="#">sitemap</a>
                        </nav>
                    </div>
                </div>

                <div class="footer-content__box">
                    <div class="social">
                        <a href="#facebook" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-facebook"></use>
                            </svg>
                        </a>

                        <a href="#twitter" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-twitter"></use>
                            </svg>
                        </a>

                        <a href="#pinterest" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-pinterest"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="footer-warning">
                        <svg>
                            <use xlink:href="img/spritemap.svg#sprite-plus-18"></use>
                        </svg>
                        <p class="footer-warning__text">DM©A protected</p>
                        <p class="footer-warning__text">begambeaware</p>
                    </div>
                </div>
            </div>

            <p class="copyright">Copyright ©2020</p>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture>
        <img src="<%= require('./img/logo-ico.svg') %>" alt="pre-loader">
    </picture>
</div>
<!-- BODY END   -->
</body>
</html>
