<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>slot review page</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container d-flex flex-row flex-wrap justify-content-between align-items-center align-content-center pt-4 pb-3">
            <a href="index.html" class="header__logo">
                <picture>
                    <img src="<%= require('./img/logo.svg') %>" alt="main-logo">
                </picture>
            </a>

            <div class="header__menu">
                <button class="header__menu-switch d-lg-none">
                    <span class="header__menu-switch header__menu-switch_line"></span>
                </button>

                <nav class="header__menu-list">
                    <a href="#" class="header__menu-link">Online Casinos</a>
                    <a href="free-slots.html" class="header__menu-link">Free Slots</a>
                    <a href="providers.html" class="header__menu-link">All Providers</a>
                    <a href="casino-bonus.html" class="header__menu-link">Casino Bonuses</a>
                    <a href="#" class="header__menu-link">Contacts</a>
                </nav>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        .section.section-banner
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partners">
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner01.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner02.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner03.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner04.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner05.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner06.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner07.png') %>" alt="partner"></picture>
                        <picture><img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner08.png') %>" alt="partner"></picture>
                    </div>
                </div>
            </div>

            <div class="footer-content">
                <div class="footer-content__box">
                    <a href="index.html" class="footer__logo">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/footer-logo.svg') %>" alt="main-logo">
                        </picture>
                    </a>

                    <p>Use our games to try your hand try your hand at these fun mock progressive games – in real life casino games, this is where different players from anywhere
                        in the world that are connected to the same progressive jackpot slot online can place bets continuously as they play – the more players – the higher the
                        jackpot amount and the more reason for more players to join it.</p>
                </div>

                <div class="footer-content__box">
                    <div class="footer-content__menu">
                        <p class="footer-content__menu-title">Popular categories</p>
                        <ul class="footer-content__menu-list">
                            <li><a href="#">Online Casinos by Different Countries</a></li>
                            <li><a href="#">Best Online Slots</a></li>
                            <li><a href="#">Casino Deposit Methods</a></li>
                            <li><a href="#">Safe Online Casinos</a></li>
                            <li><a href="#">Bitcoin Casinos</a></li>
                        </ul>
                    </div>

                    <div class="footer-content__menu">
                        <p class="footer-content__menu-title">Popular games</p>
                        <ul class="footer-content__menu-list">
                            <li><a href="#">Online Keno</a></li>
                            <li><a href="#">New Popular Free Online Games</a></li>
                            <li><a href="#">Online Pokies</a></li>
                            <li><a href="#">Blackjack Online</a></li>
                            <li><a href="#">Roulette Online</a></li>
                        </ul>
                    </div>

                    <div class="footer-content__menu">
                        <nav class="footer-content__menu-nav">
                            <a href="#">about us</a>
                            <a href="#">Privacy policy</a>
                            <a href="#">terms of use</a>
                            <a href="#">contacts</a>
                            <a href="#">sitemap</a>
                        </nav>
                    </div>
                </div>

                <div class="footer-content__box">
                    <div class="social">
                        <a href="#facebook" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-facebook"></use>
                            </svg>
                        </a>

                        <a href="#twitter" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-twitter"></use>
                            </svg>
                        </a>

                        <a href="#pinterest" target="_blank" class="social__link">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-pinterest"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="footer-warning">
                        <svg>
                            <use xlink:href="img/spritemap.svg#sprite-plus-18"></use>
                        </svg>
                        <p class="footer-warning__text">DM©A protected</p>
                        <p class="footer-warning__text">begambeaware</p>
                    </div>
                </div>
            </div>

            <p class="copyright">Copyright ©2020</p>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture>
        <img src="<%= require('./img/logo-ico.svg') %>" alt="pre-loader">
    </picture>
</div>
<!-- BODY END   -->
</body>
</html>
